<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Employee Management{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="wrapper">

    <!-- Sidebar -->

    <div class="sidebar">

        <h3 class="text-center mb-4">
            <i class="bi bi-building"></i>
            EMS
        </h3>

        <a href="{{ url_for('home') }}">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>

        <a href="{{ url_for('home') }}">
            <i class="bi bi-people"></i>
            Employees
        </a>

        <a href="{{ url_for('add_employee') }}">
            <i class="bi bi-person-plus"></i>
            Add Employee
        </a>

        <a href="#">
            <i class="bi bi-file-earmark-bar-graph"></i>
            Reports
        </a>

        <a href="{{ url_for('export_excel') }}">
            <i class="bi bi-file-earmark-excel"></i>
             Export Excel
        </a>

       <a href="{{ url_for('change_password') }}">
    <i class="bi bi-key-fill"></i>
    Change Password
</a> 
    </div>

    <!-- Main Content -->

    <div class="main-content">

        <!-- Top Navbar -->

        <nav class="navbar navbar-light bg-white shadow-sm rounded mb-3">

            <div class="container-fluid">

                <span class="navbar-brand fw-bold">
                    Employee Management Dashboard
                </span>

                {% if session.get("admin") %}

                <div class="d-flex align-items-center">

                    <span class="me-3 fw-semibold text-secondary">
                        <i class="bi bi-person-circle"></i>
                        {{ session["admin"] }}
                    </span>

                    <a href="{{ url_for('logout') }}"
                       class="btn btn-danger btn-sm">

                        <i class="bi bi-box-arrow-right"></i>
                        Logout

                    </a>

                </div>

                {% endif %}

            </div>

        </nav>

        <!-- Flash Messages -->

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="alert alert-{{ category }} alert-dismissible fade show">

                        {{ message }}

                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                        </button>

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        {% block content %}
        {% endblock %}

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>